*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
    height: 100px;
}
.carousel-item{
    height: 100vh;
}
.nav-link{
    color: white;
}
.sec-1{
    height: 100vh;
    background-image: url(../images/download\ \(4\).jfif);
    text-align: center;
    color: white;
    padding: 50px;
}
.sec-1-items{
    background-color: rgba(95, 89, 89, 0.363);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 100px;
}
.sec-1-items .item{
    width: 30%;
    margin: 15px;
} 
